<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of animals &ndash; Zoo</title>
</head>
<body>
<a data-th-href = "@{/catalogue/animals/create}">+ Add new animal</a>
<h1>List of animals</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Animal</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each = "animal: ${animals}">
        <td data-th-text = "${animal.id}"></td>
        <td>
            <a data-th-href = "@{/catalogue/animals/{animalId}(animalId = ${animal.id})}"
            data-th-text = "${animal.species}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>