<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New animal &ndash; Zoo</title>
</head>
<body>
<a data-th-href = "@{/catalogue/animals/list}">&larr; To the list of animals</a>
<h1>New animal</h1>
<form method = "post" data-th-action = "@{catalogue/animals/create}">
    <label>
        Species:<br>
        <input type = "text" name = "species">
    </label><br>
    <label>
        Color:<br>
        <input type = "text" name = "color">
    </label><br>
    <label>
        Habitat:<br>
        <input type = "text" name = "habitat">
    </label><br>
    <label>
        Name:<br>
        <input type = "text" name = "name">
    </label><br>
    <label>
        Age:<br>
        <input type = "number" name = "age">
    </label><br>
    <label>
        Weight:<br>
        <input type = "number" name = "weight">
    </label><br>
    <button type="submit">Add</button>
</form>
</body>
</html>