<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New animal &ndash; Zoo</title>
</head>
<body>
<a data-th-href = "@{/catalogue/animals/list}">&larr; To the list of animals</a>
<h1>New animal</h1>
<div data-th-if = "${errors}">
    <h2>Errors occurred</h2>
    <ul>
        <li data-th-each = "error: ${errors}" data-th-text = "${error}"></li>
    </ul>
</div>
<form method = "post" data-th-action = "@{/catalogue/animals/create}">
    <label>
        Species:<br>
        <input type = "text" name = "species" data-th-value="${payload?.species}">
    </label><br>
    <label>
        Color:<br>
        <input type = "text" name = "color" data-th-value="${payload?.color}">
    </label><br>
    <label>
        Habitat:<br>
        <input type = "text" name = "habitat" data-th-value="${payload?.habitat}">
    </label><br>
    <label>
        Name:<br>
        <input type = "text" name = "name" data-th-value="${payload?.name}">
    </label><br>
    <label>
        Age:<br>
        <input type = "number" name = "age" data-th-value="${payload?.age}">
    </label><br>
    <label>
        Weight:<br>
        <input type = "number" name = "weight" data-th-value="${payload?.weight}">
    </label><br>
    <button type="submit">Add</button>
</form>
</body>
</html>